* {
  background-color: skyblue;
  text-align: center;
}
.hidden {
  display: none;
}

form {
  margin: auto;
  padding: 20px;
}

fieldset {
  width: 200px;
  margin: auto;
}

h2 {
  font-size: 150%
}
p {
  padding: 10px;
  font-size: 150%
}

