/*
fonts----------
font-family: 'Roboto', sans-serif;
font-family: 'Bellefair', serif;*/



* {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

body {
  background-color: #EBF4FA;
}

.hidden {
  display: none;
}

form {
  margin: auto;
  padding: 20px;
}


p {
  font-size: 150%
}

button {
  text-transform: uppercase;
}


/*HEADER*/
header {
  background-color: #008080;
  color: white;
  padding: 10px 0;
}


/*USER LOGIN AND CREATE*/

.user {
  margin-top: 20px;
}


/*ADD QUOTES*/
.add-quotes {
  background-color: #008080;
  color: white;
  margin-top: 20px;
  padding: 3px 12px;
}



/*THE SEARCH QUOTE FORM*/
fieldset {
  background-color: white;
  border: 1px solid black;
  margin: auto;
  width: 200px;
}

fieldset > input {
  background-color: white;
  margin: 10px;
}

fieldset > button {
  background-color: #008080;
  border-radius: 3px;
  color: white;
  padding: 3px 12px;
}


/*RENDERED QUOTES*/

.quote {
  background-color: white;
  border: 1px solid black;
  box-sizing: border-box;
  margin: 15px auto;
  padding: 10px 30px;
  max-width: 70%;
  word-wrap: break-word;
}

.quote > p {
  font-family: 'Bellefair', serif;
  margin: 5px auto;
}

.quote > button {
  margin-bottom: 10px;
}

/*CONFIRM QUOTES*/
.confirm {
  background-color: white;
  border: 1px solid black;
  box-sizing: border-box;
  margin: 20px auto;
  max-width: 70%;
}

.confirm > button {
  background-color: #008080;
  border-radius: 3px;
  color: white;
  margin-bottom: 20px;
  padding: 3px 12px;
}