/*
fonts----------
font-family: 'Roboto', sans-serif;
font-family: 'Bellefair', serif;*/



* {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  border-radius: 5px;
}

body {
  background-color: #EBF4FA;
}

.hidden {
  display: none;
}

.buffer {
  margin-top: 10px;
}


.block {
  display:block;
}

form {
  margin: auto;
  padding: 10px;
}

p {
  font-size: 150%
}

button {
  text-transform: uppercase;
  height: 40px;
  width: 60px, fit-content;
}


/*HEADER*/
header {
  background-color: #008080;
  color: white;
  padding: 10px 0;
}

/*BUTTONS*/
.reset-button {
    background-color: #008080;
    color: white;
    margin: 10px;
    padding-top: 5px;
}




/*USER LOGIN AND CREATE*/

.user {
  margin-top: 20px;
}

.create-user {
  background-color: #008080;
  color: white;
  margin-top: 10px;
  padding: 3px 12px;
}

/*ADD QUOTES*/
.add-quotes {
  background-color: #008080;
  color: white;
  margin-top: 10px;
  padding: 3px 12px;
}

textarea, input {
  font-size: 1em;
}

/*THE SEARCH QUOTE FORM*/
fieldset {
  background-color: white;
  border: 1px solid black;
  margin: auto;
  width: 300px;
  height: 200px;
}

fieldset > input {
  background-color: white;
  margin: 10px;
  overflow-wrap: normal;
}

fieldset > button {
  background-color: #008080;
  border-radius: 3px;
  color: white;
  padding: 3px 12px;
}


/*RENDERED QUOTES*/

.quote {
  background-color: white;
  border: 1px solid black;
  box-sizing: border-box;
  margin: 15px auto;
  padding: 10px 30px;
  max-width: 70%;
  word-wrap: break-word;
}

.quote > p {
  font-family: 'Bellefair', serif;
  margin: 5px auto;
}

.quote > button {
  margin-bottom: 10px;
}

.quote-tag-style {
  font-size:90%;
}


/*CONFIRM QUOTES*/
.confirm {
  background-color: white;
  border: 1px solid black;
  box-sizing: border-box;
  margin: 20px auto;
  max-width: 70%;
}

.confirm > button {
  background-color: #008080;
  border-radius: 3px;
  color: white;
  margin-bottom: 20px;
  padding: 3px 12px;
}